@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

body {
  background-color: #000000;
}

header {
  border: 1px, solid, #ffffff;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 10px;
  position: -webkit-sticky;
  position: sticky;
}

.nav .fa-user {
  margin: 0px 5px;
  font-size: 30px;
}

.nav_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav_link a {
  text-decoration: none;
  font-size: 18px;
  padding: 9px;
  margin-right: 3px;
  margin-left: 3px;
}

.nav_title {
  font-size: 30px;
}

.nav .deroulantProfile {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: 0;
  top: 80px;
  right: 0;
}

.nav .deroulantProfile.activeProfile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav .deroulantProfile > a {
  width: auto;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  text-decoration: none;
  border: 1px solid #707070;
}

.nav .deroulantAbout {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: 0;
  top: 80px;
  right: 0;
}

.nav .deroulantAbout.activeAbout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav .deroulantAbout > a {
  width: auto;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  text-decoration: none;
  border: 1px solid #707070;
}

.form {
  background-color: #1a1a1a;
  margin: 20px;
}

.form_title {
  font-size: 30px;
  background-color: #707070;
  text-align: center;
  padding: 20px;
}

form {
  padding-bottom: 5px;
  padding-top: 25px;
  font-size: 20px;
}

form section > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  padding: auto;
  width: 85%;
  padding-bottom: 15px;
}

form section > div .form_field > img {
  width: 10px;
}

form section > div .form_icon_danger {
  width: 32px;
  height: 32px;
}

form section > div .form_btn {
  padding: 10px;
  font-size: 30px;
  background-color: #ca02d8;
  border: none;
}

form section > div .form_input {
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 10px;
  color: #000000 !important;
}

form .link_connect {
  font-size: 18px;
  padding: 2px;
}

form .form_checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 13px;
}

form .form_link {
  padding: 0px;
}

.BgColor--red {
  background-color: #ff3535;
}

.color--red {
  color: #ff3535;
}

.BgColor--black {
  background-color: #000000;
}

.color--black {
  color: #000000;
}

.BgColor--grey {
  background-color: #707070;
}

.color--grey {
  color: #707070;
}

.BgColor--purple {
  background-color: #ca02d8;
}

.color--purple {
  color: #ca02d8;
}

.BgColor--black_grey {
  background-color: #1a1a1a;
}

.color--black_grey {
  color: #1a1a1a;
}

.BgColor--white {
  background-color: #ffffff;
}

.color--white {
  color: #ffffff;
}

.BgColor--pink {
  background-color: #ff3b97;
}

.color--pink {
  color: #ff3b97;
}

.BgColor--blue {
  background-color: #00d2ff;
}

.color--blue {
  color: #00d2ff;
}

.BgColor--orange {
  background-color: #ff6e00;
}

.color--orange {
  color: #ff6e00;
}

.BgColor--green {
  background-color: #00ffa2;
}

.color--green {
  color: #00ffa2;
}

.grid-1 {
  width: 10px;
}

.grid-2 {
  width: 20px;
}

.grid-3 {
  width: 30px;
}

.grid-4 {
  width: 40px;
}

.grid-5 {
  width: 50px;
}
/*# sourceMappingURL=help.css.map */