@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap");
* {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

body {
  background-color: #000000;
}

header {
  border: 1px, solid, #ffffff;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 10px;
}

.nav .fa-user {
  margin: 0px 5px;
  font-size: 30px;
}

.nav .fa-user:hover {
  opacity: 80%;
}

.nav_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav_link a {
  text-decoration: none;
  font-size: 18px;
  padding: 9px;
  margin-right: 3px;
  margin-left: 3px;
}

.nav_title {
  font-size: 30px;
}

.nav .deroulantProfile {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: 0;
  top: 80px;
  right: 0;
}

.nav .deroulantProfile.activeProfile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav .deroulantProfile > a {
  width: auto;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  text-decoration: none;
  border: 1px solid #707070;
}

.nav .deroulantAbout {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: 0;
  top: 80px;
  right: 0;
}

.nav .deroulantAbout.activeAbout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav .deroulantAbout > a {
  width: auto;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  text-decoration: none;
  border: 1px solid #707070;
}

.form_container {
  background-color: #1a1a1a;
  margin: 20px;
}

.form_container .form_title {
  font-size: 30px;
  background-color: #707070;
  text-align: center;
  padding: 20px;
}

.form {
  padding-bottom: 5px;
  padding-top: 25px;
  font-size: 20px;
}

section > .form_field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  padding: auto;
  width: 85%;
  padding-bottom: 15px;
}

.form_upload_message {
  text-align: center;
}

.form_describe {
  text-align: center;
}

.form_field > img {
  width: 10px;
}

.form_icon_danger {
  width: 32px;
  height: 32px;
}

.form_btn {
  padding: 10px;
  font-size: 30px;
  background-color: #ca02d8;
  border: none;
}

.form_input {
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 10px;
  color: #000000;
}

.form_input {
  color: #000000;
}

.form #form_gifCategorie {
  color: #000000;
}

.form #form_gifCategorie option {
  color: #000000;
}

.form .form_checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 13px;
  margin-bottom: 20px;
}

.form .link_connect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 15px;
  padding: 2px;
  margin-left: 25px;
}

.form .form_link {
  padding: 0px;
}

.gifs_title {
  margin: 20px;
  font-size: 25px;
  text-decoration: underline;
}

.gifs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gifs .gif {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  margin: 0 5px;
}

.gifs .gif_img {
  max-width: 100%;
  height: auto;
}

.gif_info {
  margin: 10px;
}

.gif_info_view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gif_info_view_img {
  width: 350px;
  border: 100px #707070 solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.gif_info_title {
  margin: 8px;
}

.gif_info_tag {
  margin: 22 0px;
}

.gif_info_tag_name {
  background: #00d2ff;
  padding: 5 15px;
  margin: 5 0px;
  text-align: center;
}

.gif_info_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gif_info_container img {
  width: 350px;
}

.gif_info_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 15px;
}

.gif_info_user {
  margin-top: 5px;
}

.gif_info_user a {
  margin: 5px;
  text-decoration: none;
}

.gif_info_user a span {
  font-size: 25px;
}

.gif_info_details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 22 0px;
}

.icon_info {
  font-size: 25px;
}

.contact_msg p {
  margin: 8px;
}

.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popup_message {
  background-color: #1a1a1a;
}

.popup_message_title {
  text-align: center;
  margin: 30px;
}

#myPopup {
  font-size: 10px;
}

.categorie_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.categorie_link_btn {
  font-size: 25px;
  background-color: #ff3b97;
  padding: 45px;
  margin: 4px;
}

.error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.error_page_img {
  width: 300px;
}

.error_page_msg {
  margin: 5px;
}

.BgColor--red {
  background-color: #ff3535;
}

.color--red {
  color: #ff3535;
}

.BgColor--black {
  background-color: #000000;
}

.color--black {
  color: #000000;
}

.BgColor--grey {
  background-color: #707070;
}

.color--grey {
  color: #707070;
}

.BgColor--purple {
  background-color: #ca02d8;
}

.color--purple {
  color: #ca02d8;
}

.BgColor--black_grey {
  background-color: #1a1a1a;
}

.color--black_grey {
  color: #1a1a1a;
}

.BgColor--white {
  background-color: #ffffff;
}

.color--white {
  color: #ffffff;
}

.BgColor--pink {
  background-color: #ff3b97;
}

.color--pink {
  color: #ff3b97;
}

.BgColor--blue {
  background-color: #00d2ff;
}

.color--blue {
  color: #00d2ff;
}

.BgColor--orange {
  background-color: #ff6e00;
}

.color--orange {
  color: #ff6e00;
}

.BgColor--green {
  background-color: #00ffa2;
}

.color--green {
  color: #00ffa2;
}

.Font--font-title {
  font-family: "Montserrat", sans-serif;
}

.Font--font-text {
  font-family: "Roboto", sans-serif;
}

.grid-1 {
  width: 10px;
}

.grid-2 {
  width: 20px;
}

.grid-3 {
  width: 30px;
}

.grid-4 {
  width: 40px;
}

.grid-5 {
  width: 50px;
}
/*# sourceMappingURL=help.css.map */