@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

// ---------------------------------------------------

//                    @@@Color for css

// ---------------------------------------------------

$red: #ff3535;
$black: #000000;
$grey: #707070;
$purple: #ca02d8;
$black_grey: #1a1a1a;
$white: #ffffff;
$pink: #ff3b97;
$blue: #00d2ff;
$orange: #ff6e00;
$green: #00ffa2;
// ---------------------------------------------------

//                    @@@color for html

// ---------------------------------------------------
$colours: (
    red: #ff3535,
    black: #000000,
    grey: #707070,
    purple: #ca02d8,
    black_grey: #1a1a1a,
    white: #ffffff,
    pink: #ff3b97,
    blue: #00d2ff,
    orange: #ff6e00,
    green: #00ffa2,
);

// ---------------------------------------------------

//                    @@@All

// ---------------------------------------------------
* {
    margin: 0px;
    font-family: "Roboto", sans-serif;
    color: $white;
}

body {
    background-color: $black;
}

header {
    border: 1px, solid, $white;
}

// ---------------------------------------------------

//                    @@@Navbar

// ---------------------------------------------------

.nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    position: sticky;

    .fa-user {
        margin: 0px 5px;
        font-size: 30px;

    }
    &_link {
        display: flex;
        justify-content: center;
        align-items: center;
        a {
            text-decoration: none;
            font-size: 18px;
            padding: 9px;
            margin-right: 3px;
            margin-left: 3px;
        }
    }
    &_title {
        font-size: 30px;
    }

    .deroulantProfile {
        display: none;
        flex-direction: column;
        position: absolute;
        left: 0;
        top: 80px;
        right: 0;

        &.activeProfile {
            display: flex;
        }

        & > a {
            width: auto;
            text-align: center;
            box-sizing: border-box;
            padding: 20px;
            text-decoration: none;
            border: 1px solid $grey;
        }
    }
    .deroulantAbout {
        display: none;
        flex-direction: column;
        position: absolute;
        left: 0;
        top: 80px;
        right: 0;

        &.activeAbout {
            display: flex;
        }

        & > a {
            width: auto;
            text-align: center;
            box-sizing: border-box;
            padding: 20px;
            text-decoration: none;
            border: 1px solid $grey;
        }
    }
}

// ---------------------------------------------------

//                    @@@Form

// ---------------------------------------------------
.form {
    background-color: $black_grey;
    margin: 20px;
    &_title {
        font-size: 30px;
        background-color: $grey;
        text-align: center;
        padding: 20px;
    }
}

form {
    padding-bottom: 5px;
    padding-top: 25px;
    font-size: 20px;

    section > div {
        display: flex;
        flex-direction: column;
        margin: auto;
        padding: auto;
        width: 85%;
        padding-bottom: 15px;
        .form_field > img {
            width: 10px;
        }

        .form_icon_danger {
            width: 32px;
            height: 32px;
        }
        .form_btn {
            padding: 10px;
            font-size: 30px;
            background-color: $purple;
            border: none;
        }
        .form_input {
            padding: 12px 20px;
            margin: 8px 0;
            border-radius: 10px;
            color: $black !important;
        }
    }
    .link_connect {
        font-size: 18px;
        padding: 2px;
    }
    .form_checkbox {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        font-size: 13px;
    }
    .form_link {
        padding: 0px;
    }
}

// ---------------------------------------------------

//                    @@@Gifs

// ---------------------------------------------------

.gifs {
    &_gif {
        
    }
}

// ---------------------------------------------------

//                    @@@Icone

// ---------------------------------------------------


//création all color
@each $colour, $hex in $colours {
    .BgColor--#{$colour} {
        background-color: $hex;
    }
    .color--#{$colour} {
        color: $hex;
    }
}

//création all font-size
@for $i from 1 through 5 {
    .grid-#{$i} {
        width: 10px * $i;
    }
}

// .deroulant {
//     display: none;
//     flex-direction: column;
//     position: absolute;
//     left: 0;
//     top: 80px;
//     right: 0;

//     &.active {
//         display: flex;
//     }

//     & > a {
//         width: auto;
//         text-align: center;
//         box-sizing: border-box;
//         padding: 20px;
//         text-decoration: none;
//         border: 1px solid $grey;
//     }
