@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap");

//    font-family: 'Montserrat', sans-serif;
//    font-family: 'Roboto', sans-serif;
// ---------------------------------------------------

//                    @@@Color for css

// ---------------------------------------------------

$red: #ff3535;
$black: #000000;
$grey: #707070;
$purple: #ca02d8;
$black_grey: #1a1a1a;
$white: #ffffff;
$pink: #ff3b97;
$blue: #00d2ff;
$orange: #ff6e00;
$green: #00ffa2;
// ---------------------------------------------------

//                    @@@color for html

// ---------------------------------------------------
$colours: (
    red: #ff3535,
    black: #000000,
    grey: #707070,
    purple: #ca02d8,
    black_grey: #1a1a1a,
    white: #ffffff,
    pink: #ff3b97,
    blue: #00d2ff,
    orange: #ff6e00,
    green: #00ffa2,
);

// ---------------------------------------------------

//                    @@@All

// ---------------------------------------------------
* {
    margin: 0px;
    font-family: "Roboto", sans-serif;
    color: $white;
}

body {
    background-color: $black;
}

header {
    border: 1px, solid, $white;
}

// ---------------------------------------------------

//                    @@@Navbar

// ---------------------------------------------------

.nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;

    .fa-user {
        margin: 0px 5px;
        font-size: 30px;
    }
    .fa-user:hover {
        opacity: 80%;
    }
    &_link {
        display: flex;
        justify-content: center;
        align-items: center;
        a {
            text-decoration: none;
            font-size: 18px;
            padding: 9px;
            margin-right: 3px;
            margin-left: 3px;
        }
    }
    &_title {
        font-size: 30px;
    }

    .deroulantProfile {
        display: none;
        flex-direction: column;
        position: absolute;
        left: 0;
        top: 80px;
        right: 0;

        &.activeProfile {
            display: flex;
        }

        & > a {
            width: auto;
            text-align: center;
            box-sizing: border-box;
            padding: 20px;
            text-decoration: none;
            border: 1px solid $grey;
        }
    }
    .deroulantAbout {
        display: none;
        flex-direction: column;
        position: absolute;
        left: 0;
        top: 80px;
        right: 0;

        &.activeAbout {
            display: flex;
        }

        & > a {
            width: auto;
            text-align: center;
            box-sizing: border-box;
            padding: 20px;
            text-decoration: none;
            border: 1px solid $grey;
        }
    }
    a:hover {
        opacity: 90%;
    }
}

// ---------------------------------------------------

//                    @@@Form

// ---------------------------------------------------

.form_container {
    background-color: $black_grey;
    margin: 20px;
    & .form_title {
        font-size: 30px;
        background-color: $grey;
        text-align: center;
        padding: 20px;
    }
}
.form {
    padding-bottom: 5px;
    padding-top: 25px;
    font-size: 20px;

    section > &_field {
        display: flex;
        flex-direction: column;
        margin: auto;
        padding: auto;
        width: 85%;
        padding-bottom: 15px;
    }
    &_upload_message {
        text-align: center;
    }
    &_describe {
        text-align: center;
    }
    &_field > img {
        width: 10px;
    }

    &_icon_danger {
        width: 32px;
        height: 32px;
    }
    &_btn {
        padding: 10px;
        font-size: 30px;
        background-color: $purple;
        border: none;
    }
    &_btn:hover {
        opacity: 80%;
    }
    &_input {
        padding: 12px 20px;
        margin: 8px 0;
        border-radius: 10px;
        color: $black;
    }
    &_input {
        color: $black;
    }
    #form_gifCategorie {
        color: $black;
        & option {
            color: $black;
        }
    }

    .form_checkbox {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        font-size: 13px;
        margin-bottom: 20px;
    }
    .link_connect {
        display: flex;
        flex-direction: column;
        font-size: 15px;
        padding: 2px;
        margin-left: 25px;
    }
    .form_link {
        padding: 0px;
    }
}

.gifs_title {
    margin: 20px;
    font-size: 25px;
    text-decoration: underline;
}
// ---------------------------------------------------

//                    @@@Gifs

// ---------------------------------------------------

.gifs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    & .gif {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: 45%;
        margin: 0 5px;
        &_img {
            max-width: 100%;
            height: auto;
        }
    }
}

// ---------------------------------------------------

//                    @@@Gifs Info

// ---------------------------------------------------

.gif_info {
    margin: 10px;
    &_view {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        &_img {
            width: 350px;
            border: 100px $grey solid;
            box-sizing: border-box;
        }
    }
    &_title {
        margin: 8px;
    }
    &_tag {
        margin: 22 0px;

        &_name {
            background: $blue;
            padding: 5 15px;
            margin: 5 0px;
            text-align: center;
        }
    }
    &_container {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 350px;
        }
    }
    &_user {
        margin-top: 5px;

        a {
            margin: 5px;
            text-decoration: none;
            
            span {
                font-size: 25px;
            }
        }
    }
    &_details {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        margin: 22 0px;
    }
}
// ---------------------------------------------------

//                    @@@poppup

// ---------------------------------------------------

.popup {
    display: flex;
    align-items: center;
    justify-content: center;

    &_message {
        // display: flex;
        // align-items: center;
        // justify-content: center;
        background-color: $black_grey;
        // flex-direction: column;

        &_title {
            text-align: center;
            margin: 30px;
        }

        // &_text {
        // }

        // &_btn {
        // }
        // &_gif {
        // }
    }
}

#myPopup {
    font-size: 10px;
}
.categorie {
    &_link {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        &_btn {
            font-size: 25px;
            background-color: $pink;
            padding: 45px;
            margin: 4px;
        }
    }
}

// ---------------------------------------------------

//                    @@@Icone

// ---------------------------------------------------

$fonts: (
    font-title: "Montserrat",
    font-text: "Roboto",
);
// font-family: 'Montserrat', sans-serif;
// font-family: 'Roboto', sans-serif;

//création all color
@each $colour, $hex in $colours {
    .BgColor--#{$colour} {
        background-color: $hex;
    }
    .color--#{$colour} {
        color: $hex;
    }
}
@each $font, $fon in $fonts {
    .Font--#{$font} {
        font-family: $fon, sans-serif;
    }
}

//création all font-size
@for $i from 1 through 5 {
    .grid-#{$i} {
        width: 10px * $i;
    }
}
